<!DOCTYPE html>
<html>
<head>
	<title>Fish</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="defultStyle.css">
	<link rel="stylesheet" type="text/css" href="header.css">
</head>
<body style="background-color:#999;">
	<header id="mainLinkbar">
		<div class="wrapper">
			<img src="logo/logo.jpg">
			<nav role="topNav">
				<ul>
					<li><a href="index.htm">HOME</a></li>
					<li><a href="galery.htm">GALERY</a></li>
					<li><a href="forum.htm">FORUM</a></li>
					<li><a href="contact.htm">CONTACT</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div id="shadowStyle"></div>
	<section>
		<div class="subLinkbar">
			<div class="wrapper">
				<nav role="subNav">
					<ul>
						<li><a href="">subnav</a></li>
						<li><a href="">subnav</a></li>
						<li><a href="">subnav</a></li>
						<li><a href="">subnav</a></li>
						<li><a href="">subnav</a></li>
					</ul>
				</nav>
				<img src="img/border.png">
			</div>
		</div>




		<div class="wrapper">
			<div class="mainText">
				<article><br><br>
					<h1>Heading</h1>
					<div class="text">
						<div class="column1">
							<div class="element">
							</div>
						</div>
					</div>
				</article>
			</div>
		</div>
	</section>
	<br>
	<footer>
		<div class="wrapper">
			<div class="bottomBar">
				<br><br>
				<nav role="bottomNav">
					<ul>
						<li><a href="">my name</a></li>
						<li><a href="">zelda</a></li>
						<li><a href="">därför</a></li>
						<li><a href="">lel?</a></li>
						<li><a href="">varför?</a></li>
						<li><a href="">lego?</a></li>
						<li><a href="">starwars</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
</body>
</html>









